.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
  min-height: calc(52px + (28px + 56px));
}

@media screen and (max-width:1279px) {
  .header {
    padding-bottom: 48px;
    min-height: calc(52px + (28px + 48px));
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    min-height: calc(42px + (16px + 48px));
  }
}